@page
@using System.Collections
@using Dai_Lete.Repositories
@using Dai_Lete.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
function copyRssFeed(ID) {
     var url = "https://@ConfigManager.getBaseAddress()/Podcast/podcast-feed?id="+ID;
     navigator.clipboard.writeText(""+url)
     alert("Podcast Feed: "+url+"\nCopied to Clipboard")
}
async function  deleteEpsiode(ID) {
    let password = prompt("Please enter password to delete podcast", "12345");
    if (password == null || password == "") {
      return;
    } 
    const msgBuffer = new TextEncoder().encode(ID+":"+password);
      const hashBuffer = await window.crypto.subtle.digest("SHA-256", msgBuffer);
      const hashArray = Array.from(new Uint8Array(hashBuffer));
      console.log(hashArray.length)
      const hash = hashArray
        .map((item) => item.toString(16).padStart(2, "0"))
        .join("");
    fetch(window.location.origin+"/Podcast/delete?id="+ID+"&authToken="+hash, { method: 'DELETE' })
        //.then(() => ());

}
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="float-end">
    <asp:Button ID="AddButton" runat="server" Text="Launch Modal Popup (Client)" />
</div>
<div class="d-flex p-2 flex-wrap">

    @foreach (var pod in FeedCache.metaDataCache)
    {
        <div class="border-primary d-flex flex-column p-5 bg-black bg-opacity-25 m-1 rounded-5;" 
             style="width: 19%; min-width: 200px">
            <img class="align-content-center h-auto rounded-2"src="@pod.Value.imageUrl"/>
            
            <div class="d-inline-flex flex-column h-50 w-75">
                <a href="PodcastView?id=@pod.Key">
                    <h3>@pod.Value.title</h3>
                </a>
                <p class="card-subtitle">@pod.Value.publisher</p>
            </div>
            <div class="hstack">
                <button  class="btn" onclick="copyRssFeed('@pod.Key')">
                    <img src="images/rss.svg" width="52"height="52" alt="Copy RSS Feed"/>
                </button>
                <button class="btn" onclick="deleteEpsiode('@pod.Key')">
                    <img id="delete-@pod.Key"src="images/delete.svg" width="52"height="52" alt="Delete"/>
                </button>
            </div>
@*              
        <p>@Html.Raw(@pod.Value.description)</p> <!--This is stupid but it looks pretty.-->
        *@
        </div>

    }
    
</div>