@page
@using System.Collections
@using Dai_Lete.Repositories
@using Dai_Lete.Services
@model IndexModel
@{
    ViewData["Title"] = "Podcasts";
}
<script>
function copyRssFeed(ID) {
     var url = "https://@Model.BaseAddress/Podcast/podcast-feed?id="+ID;
     navigator.clipboard.writeText(""+url)
     alert("Podcast Feed: "+url+"\nCopied to Clipboard")
}
async function  deleteEpsiode(ID) {
    if (!confirm("Are you sure you want to delete this podcast?")) {
        return;
    }
    const resp = await fetch(window.location.origin+"/Podcast/delete?id="+ID, { method: 'DELETE' })
    if(resp.status != 200){
        alert("Failed to delete podcast! response code:" + resp.status)
        return
    }
    document.getElementById("pod-card-"+ID).remove()
}
async function addPodcast(){
    var link = document.getElementById("inputUri").value
    try {
        url = new URL(link);
    } catch (_) {
        alert("Please enter a valid url");
        return
    }

    const resp = await fetch(window.location.origin+"/Podcast/add?inUri="+link, { method: 'POST' })
    if(resp.status != 200){
        let body = await resp.text()
        alert("Failed to add podcast! response code:" + resp.status + " " + body)
        return
    }
    alert("Podcast added, it may take up to 1 hour for episode to process")
    document.getElementById("inputUri").value = ""
}

</script>
<div class="text-center">
    <h1 class="display-4">Welcome to Dai-Lete 
        <br/>
        The "It Kind of Works" of Podcast Ad Block
    </h1>
</div>

<div class="d-flex p-2 flex-wrap">
    <div class="border-primary d-flex flex-column p-5 bg-black bg-opacity-25 m-1 rounded vstack"
         style="width: 19%; min-width: 200px">
        <h3>Podcast URI: </h3><input type="text" id="inputUri" name="inputUri">
        <br/>
        <button class="btn-primary rounded" onclick="addPodcast()">Add Podcast</button>
    </div>
<br/>
    @foreach (var pod in FeedCache.metaDataCache)
    {
        <div id="pod-card-@pod.Key" 
            class="border-primary d-flex flex-column p-5 bg-black bg-opacity-25 m-1 rounded" 
             style="width: 19%; min-width: 200px">
            <img class="align-content-center h-auto rounded-2"src="@pod.Value.imageUrl"/>
            
            <div class="d-inline-flex flex-column h-50 w-75">
                <a href="PodcastView?id=@pod.Key">
                    <h5>@pod.Value.title</h5>
                </a>
                <p class="card-subtitle">@pod.Value.publisher</p>
            </div>
            <div class="hstack">
                <button  class="btn" onclick="copyRssFeed('@pod.Key')">
                    <img src="images/rss.svg" width="52"height="52" alt="Copy RSS Feed"/>
                </button>
                <button class="btn" onclick="deleteEpsiode('@pod.Key')">
                    <img id="delete-@pod.Key"src="images/delete.svg" width="52"height="52" alt="Delete"/>
                </button>
            </div>
@*              
        <p>@Html.Raw(@pod.Value.description)</p> <!--This is stupid but it looks pretty.-->
        *@
        </div>

    }
    
</div>