@page
@using Dai_Lete.Services
@using Dai_Lete.Repositories
@using Dai_Lete.Models
@model Dai_Lete.Pages.PodcastView
@{
    PodcastMetadata podcastMetadata = new PodcastMetadata();
    if (Model.podcastID is not null)
    {
        podcastMetadata = FeedCache.metaDataCache[Model.podcastID.Value];
    }
    Console.WriteLine("1"+Model.podcastID);
    ViewData["Title"] = podcastMetadata.title;
}
<body>
<div class="container-fluid">
    @if (@Model.podcastID is null)
    {
        <h1>Error Parsing id value</h1>
    }
    else
    {
            <div class="hstack border-primary">
                <div class="vstack w-25">
                    <img width="200" class="h-auto" src="@podcastMetadata.imageUrl"/>
                </div>
                <div class="w-75">
                    <h1>@podcastMetadata.title</h1>
                    <p>@podcastMetadata.publisher</p>
                    <p>@Html.Raw(podcastMetadata.description)</p>
                    @*            todo, a better way        *@
                </div>
            </div>
        <hr/>
        <h3>
            Dai-Leted Episodes:
        </h3>
        <table id="processedEpisodes" class ="display">
            <thead>
            <tr>
                <th>Episode Name</th>
                <th>Air Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var p in @podcastMetadata.processedEpisodes)
            {
                <tr>
                    <td>@p.episodeName
                        <br/>
                        
                        <audio controls>
                        <source src=@Html.Raw($"https://{ConfigManager.GetBaseAddress()}/Podcasts/{p.Podcast.Id}/{String.Concat(p.episodeId.Split(Model.InvalidChars))}.mp3")
                                type="audio/mpeg">
                        </audio>
                    </td>

                    <td>@p.pubDate</td>
                    <td>
                        <button hx-delete="Podcast/DeleteEpisode?podcastId=@p.Podcast.Id&episodeGuid=@p.episodeId">
                            Delete Episode
                        </button>

                    </td>
                </tr>
            }
            </tbody>
        </table>
        <hr/>
        <h3>
            Non-Dai-Leted Episodes:
        </h3>
        @foreach (var p in @podcastMetadata.nonProcessedEpisodes)
        {
            <div class="row">
                <div class="col-md-10">
                    <p>
                        @p.episodeName
                    </p>
                </div>
                <div class="col-md-2 align-items-end">
                    @* Todo: change from query to body params, seems to be more complex than it should be.
                    <form hx-post="/Podcast/Queue">
                        <input type="hidden" name="episodeGuid" value="@p.episodeId"/>
                        <input type="hidden" name="episodeUrl" value="@p.downloadLink"/>
                        <input type="hidden" name="podcastGUID" value="'@p.Podcast.Id"/>
                        <input type="hidden" name="podcastInUri" value="@p.Podcast.InUri"/>
                        <button type="submit">Process Episode</button>
                    </form>
                    *@
                    <button hx-post="Podcast/Queue?podcastInUri=@p.Podcast.InUri&podcastGUID=@p.Podcast.Id&episodeUrl=@p.downloadLink&episodeGuid=@p.episodeId">Process Episode</button>
                </div>
            </div>
        }
    }
</div>
</body>
